.page {
    margin: 0 auto;
    padding: 10px 20px;
    padding-top: 70px;
}

.loaderContainer {
    display: "flex";
    justify-content: "center";
    margin-top: 50px;
}

.lastElement {
    height: 20px;
}

.postsEmpty {
    text-align: "center";
    padding-top: 70px;
}

.btnContainer {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}
